.cadastro {
    text-align: center;
    background-color: var(--cor-de-fundo-secundária);
    padding: 5em;
}

.cadastro__titulo{
    font-size: 36px;
}

.cadastro__texto{
    font-size: 20px;
    color: var(--cor-do-texto);
    font-weight: 400;
}

.cadastro__formulário {
    padding: 2em 0;

}

.cadastro__formulário__e-mail {
    color: var(--cor-do-texto);
    padding: 1em;
    width: 15vw;
    border-radius: 0.5em;
    border: 1px solid #D0D5DD;
}

.cadastro__formulário__e-mail:hover{
    border: 1px solid var(--cor-do-texto);
}

.cadastro__formulário__e-mail:focus {
    box-shadow: 0;
    outline: 0;
}

.cadastro__botão {
    background-color: var(--cor-principal);
    color: var(--cor-de-fundo);
    border-radius: 8px;
    padding: 1em;
    margin-left: 1em;
}

.copyright {
    color: #98A2B3;
}
